@media screen and (max-width: 1000px) {
  .mq {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content {
    align-items: center;
  }
}
.servicesContent h2 {
  color: var(--text-secondary);
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  padding-top: 33px;
  padding-left: 50px;
  padding-right: 40px;
}
.servicesContent p {
  color: var(--text-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 40px;
}
.bg div:nth-child(2) {
  background-color: #ebf7fc;
  border-radius: 10px;
}
