.banner {
  h2 {
    color: var(--white);
    line-height: 60px;
    font-size: var(--heading-primary);
    padding-bottom: 20px;

    b::before {
      content: "\a";
      white-space: pre;
    }
  }
}
.herobannerImg1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -12;
  transform: translateX(0%);
  max-height: 100%;
  display: flex;
}

.herobannerImg2 {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.herobannerImg5 {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(30%);
  z-index: -9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.herobgYellow {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, 0%);
  width: 100%;
  z-index: -9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.herobannerImg3 {
  position: absolute;
  top: -100px;
  left: 0;
  display: flex;
  z-index: -9;
}

@media screen and (max-width: 1279px) {
  .herobannerImg1 {
    transform: translateX(-15%);
  }

  .herobannerImg3 {
    transform: translateX(-20%);
  }
  .erobannerImg4 {
  }
}
@media screen and (max-width: 1000px) {
  .herobannerImg2 {
    transform: translate(0%, -30%);
  }

  .herobannerImg5 {
    transform: translateY(30%);
  }

  .herobannerImg3 {
    transform: translateY(-25%);
  }
}
@media screen and (max-width: 767px) {
  .herobannerImg1,
  .herobannerImg2,
  .herobannerImg5 {
    display: none;
  }

  .herobannerImg3 {
    transform: translate(-20%, 20%) rotate(-30deg);
  }

  .herobgYellow {
    transform: translate(-50%, -20%);
  }
  .banner {
    h2 {
      font-size: var(--heading-secondary);
      text-align: center;
      color: var(--white);
      line-height: 33px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .herobannerImg1 {
    width: 53vw;
    max-height: 1000px;
    img {
      width: 100%;
    }
  }
  .herobannerImg5 {
    width: 15vw;
    img {
      width: 100%;
    }
  }
  .herobannerImg2 {
    width: 50vw;
    img {
      width: 100%;
    }
  }
  .herobgYellow {
    width: 22vw;
    max-width: 460px;
    max-height: 400px;
    img {
      width: 100%;
    }
  }
  .herobannerImg4 {
    width: 30vw;
    max-height: 440px;
    max-width: 580px;
    img {
      width: 100%;
    }
  }
}
