.heading {
  p {
    color: var(--text-secondary);
    line-height: 32px;
    font-size: var(--heading-primary);
    padding-bottom: 20px;
  }
}

.bg1 {
  position: absolute;
  right: 0%;
  top: -80px;
  z-index: -9;
  display: flex;
}

.bg2 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(30%, -30%);
  display: flex;
  z-index: -9;
}

@media screen and (max-width: 1223px) {
  .heading {
    p {
      text-align: center;
    }
  }

  .mq {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bg1 {
    top: 290px;
  }

  .bg2 {
    left: 0;
    transform: translate(50%, 30%);
  }
}

@media screen and (max-width: 767px) {
  .heading {
    p {
      text-align: center;
      color: var(--text-secondary);
      line-height: 32px;
      font-size: var(--heading-secondary);
      padding-bottom: 20px;
    }
  }

  .bg1 {
    right: 0;
  }

  .bg2 {
    left: 0;
    transform: translateY(20%);
  }
}
@media screen and (max-width: 575px) {
  .bg1 {
    max-width: 400px;
  }

  .bg2 {
    max-width: 400px;
    top: 100%;
    transform: translateY(-70%);
  }
}
@media screen and (max-width: 390px) {
  .bg1 {
  }

  .bg2 {
    max-width: 300px;
    top: 100%;
    transform: translateY(-70%);
  }
}
@media screen and (min-width: 1440px) {
  .bg1 {
    width: 35vw;
    max-height: 750px;
    img {
      width: 100%;
    }
  }
}
