.wefreshp {
  color: red !important;
}
.wefresh {
  h1 {
    text-align: center;
    color: var(--text-secondary);
    line-height: 32px;
    font-size: var(--heading-primary);
    padding-bottom: 20px;
  }
  p {
    max-width: 540px;
    margin-bottom: 40px;
    margin-top: 4px;
    text-align: center;
    color: var(--text-primary);
  }
}
@media screen and (max-width: 767px) {
  .wefresh {
    h1 {
      text-align: center;
      color: var(--text-secondary);
      line-height: 32px;
      font-size: var(--heading-secondary);
      padding-bottom: 20px;
    }
    p {
      margin-bottom: 40px;
      margin-top: 4px;
      text-align: center;
      color: var(--text-primary);
    }
  }
}
