:root {
  --text-primary: #868e95;
  --text-secondary: #68bae3;
  --text-black: #14243c;
  --heading-primary: 42px;
  --heading-secondary: 22px;
  --weight-secondary: 400;
  --border-primary: #e8e8e8;
  --white: #fff;
  --btn-color: #ffd476;
  --border: 1px solid --border-primary;
  --text-size: 16px;
  --bg-primary: #f2f9ff;
  --bold: 600;
  --normal: 400;
}
